*.log*
work
.nextflow
nextflow
.conda_cache
null
Results
Test1.fastq
Test2.fastq
Test1.fastq.gz
Test2.fastq.gz
*.fastq
~
HLA_db.*
hla_gen.fasta
HLA_database
hla.dat
cache
*.zip
HLAdatabase
*.fast*
*.fastq.gz
*.fastq.gz*
report*
*.xlsx
*.Identifier
PairwiseAlignTest
HapDupTest
Data/PrimerListBigData.tsv
Data/DataforDTU/*
Data/DataforDTU/FINALRESULTS/*
./Data/DataforDTU/
__pycache__/*
__pycache__
DQA1Helo.txt
DQA1_HLA_type.txt
ResultatbehandlingRiget
Data/HLATypesList.txt
