//Profile config names for nf-core/configs
conda.enabled = true
conda.channels = ["defaults", "conda-forge", "bioconda"]
conda.useMamba = true
conda.cacheDir = ".conda_cache"
profiles{
    local{
             
        params{
            max_memory = 16.GB
            max_cpus = 8
            max_time = 20.h
            
            outdir = "./Results"

            basepath = "~/"
            singularityCacheDir = '~/cache'
            
            
            samplename = "None"
            fastqfile = "None"
            primerlist = "None"

            
            }
        
        process {
            errorStrategy = 'finish'
            executor = 'local'
            cpus = 4
            memory = 4.GB
            time = 1.h
            debug = true
            }
        
        singularity {
                enabled = true
                autoMounts = true
                runOptions = "-B ${params.basepath}"
                cacheDir = params.singularityCacheDir
                envWhitelist = ['SINGULARITY_TMPDIR']
        }

    }

    
}

process {

    withLabel:bigTask {
        cpus = 16
        memory = 32.GB
        time = 3.h}

    withLabel:gpuTask {
        cpus = 16
        memory = 32.GB
        time = 3.h}

    withLabel:shortTask {
        cpus = 4
        memory = 4.GB
        time = 1.h}
}
