//Profile config names for nf-core/configs
conda.enabled = true
conda.channels = ["defaults", "conda-forge", "bioconda","anaconda"]
conda.useMamba = false
conda.cacheDir = ".conda_cache"
profiles{
    local{
             
        params{
            max_memory = 16.GB
            max_cpus = 8
            max_time = 20.h
            
            outdir = "./Results"

            basepath = "/"
        
            
 
            fastqfile = "None"
            primerlist = "None"
            blastdb = "Data/HLAdatabase/HLA_db"
            
            fragmentlength = "Data/Fragmentlengths.tsv"
            readerror = 0.05
            coverage = 160

            hlaGfile = "Data/hla_nom_g.txt"

            }
        
        process {
            errorStrategy = 'finish'
            executor = 'local'
            cpus = 4
            memory = 4.GB
            time = 1.h
            debug = false
            }
        singularity {
                enabled = true
                autoMounts = true
                runOptions = "-B /home"
                cacheDir = './cache'
                envWhitelist = ['SINGULARITY_TMPDIR']
                
        }
        
    }       

    mac{
             
        params{
            max_memory = 16.GB
            max_cpus = 8
            max_time = 20.h
            
            outdir = "./Results"

            basepath = "/"

            
            
            
            fastqfile = "None"
            primerlist = "None"
            blastdb = "Data/HLAdatabase/HLA_db"
            
            fragmentlength = "Data/Fragmentlengths.tsv"
            readerror = 0.05
            coverage = 160

            hlaGfile = "Data/hla_nom_g.txt"

            }
        
        process {
            errorStrategy = 'finish'
            executor = 'local'
            cpus = 4
            memory = 4.GB
            time = 1.h
            debug = true
            }

        docker {
            enabled = true
    
        }

    }       

    gridion{
        process {
            errorStrategy = 'finish'
            executor = 'local'
            cpus = 8
            memory = 24.GB
            time = 4.h
            debug = true
            }

         params{
            max_memory = 64.GB
            max_cpus = 16
            max_time = 20.h
            
            outdir = "./Results"

            basepath = "/"

            
            
            
            fastqfile = "None"
            primerlist = "None"
            blastdb = "Data/HLAdatabase/HLA_db"
            
            fragmentlength = "Data/Fragmentlengths.tsv"
            readerror = 0.05
            coverage = 160

            hlaGfile = "Data/hla_nom_g.txt"

            }   
            singularity {
                enabled = true
                autoMounts = true
                runOptions = "-B /home"
                cacheDir = './cache'
                envWhitelist = ['SINGULARITY_TMPDIR']
                
        }
        }
    


    
}



process {

    withLabel:bigTask {
        cpus = 16
        memory = 32.GB
        time = 3.h}

    withLabel:gpuTask {
        cpus = 16
        memory = 32.GB
        time = 3.h}

    withLabel:shortTask {
        cpus = 4
        memory = 4.GB
        time = 1.h}
}
